# Compiled Java class files
*.class
# Ignoriere Bilder-Datensatz und Archive im Klassifikations-Ordner
cat_vs_dog_classification/dataset/
cat_vs_dog_classification/*.zip
cat_vs_dog_classification/*.tgz
# macOS
.DS_Store

# IDE
.idea/
.vscode/
*.iml

# Rust build output
**/target/

# Python compile/cache artifacts
**/__pycache__/
**/.venv/
*.py[cod]

# nn data
**/data/