# Compiled Java class files
*.class

# macOS
.DS_Store

# IDE
.idea/
.vscode/
*.iml

# Rust build output
**/target/

# Python compile/cache artifacts
**/__pycache__/
**/.venv/
*.py[cod]

# nn data
**/data/